/* page structure */
html {
    margin: 0;
    padding: 0;
    background: #fff;
    text-align: center;
    font-size: 12pt;
    color: #111;
    text-justify: none;
    direction: ltr;
}
body {
    display: inline-block;
    text-align: left;
    line-height: 1.5;
}

/* site title */
div.site_title_area {
    margin: 1ex 0 1.5ex 0;
    clear: both;
}
div.site_title_area_weak {
    font-size: 80%;
    opacity: 0.8;
}
div.site_title_area h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 130%;
}
div.site_title_area h1 a {
    color: #000;
    text-decoration: none;
}
div.site_title_area h1 a:hover {
    color: #01a;
    text-decoration: underline;
}
div.site_title_area div.subtitle {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 90%;
    color: #333;
}

/* page title */
article.main {
    margin: 0 0 3ex 0;
    clear: both;
}
article.main div.page_title_area {
    margin: 1ex 0 1.2ex 0;
    padding: 0;
    clear: both;
    border-bottom: 1px dashed #aaa;
}
article.main h2.article_title {
    margin: 0;
    padding: 0;
    font-size: 120%;
    color: #000;
}
article.main h2.article_title a {
    color: #000;
    text-decoration: none;
}
article.main h2.article_title a:hover {
    color: #01a;
    text-decoration: underline;
}
article.main div.article_date {
    margin: 0 0 0 0.5ex;
    padding: 0;
    font-size: 90%;
    color: #555;
}

/* page content */
article.main h3 {
    margin: 1.8ex 0 1.1ex 0;
    padding: 0;
    font-size: 105%;
    color: #000;
}
article.main h4 {
    margin: 1.4ex 0 0.8ex 0;
    padding: 0 1ex;
    font-size: 100%;
}
article.main h5 {
    margin: 1.2ex 0 0.7ex 0;
    padding: 0 2ex;
    font-size: 95%;
}
article.main p {
    margin: 0.8ex 0;
    padding: 0;
    text-indent: 2ex;
}
article.main pre {
    margin: 0.7ex 0.5ex;
    padding: 0.3ex 0.5ex;
    line-height: 1.2;
    white-space: pre-wrap;
    word-break: break-all;
    font-size: 95%;
    font-family: monospace;
    background: #f8f8f8;
    border: solid 1px #eee;
    border-radius: 0.3ex;
}
article.main ul, article.main ol {
    margin: 0;
    padding: 0;
}
article.main ul.ul1, article.main ol.ul1 {
    margin: 0.8ex 0.5ex 0.8ex 5ex;
    padding: 0;
}
article.main li.li1 {
    margin-left: 0ex;
}
article.main li.li2 {
    margin-left: 3ex;
    font-size: 95%;
}
article.main li.li3 {
    margin-left: 6ex;
    font-size: 90%;
}
article.main table {
    margin: 1.0ex 1.0ex;
    font-size: 90%;
    border-collapse: collapse;
}
article.main td {
    padding: 0 0.5ex;
    word-break: break-all;
    border: solid 1px #888;
}
article.main td.num {
    text-align: right;
    font-family: monospace;
}
article.main td.head {
    background: #eee;
}
article.main p.lv1 {
    margin-left: 4ex;
    padding: 0 0.3ex;
    text-indent: 0;
    font-size: 95%;
    color: #111;
}
article.main p.lv2 {
    margin-left: 4ex;
    padding: 0 0.3ex;
    text-indent: 0;
    color: #111;
    font-size: 95%;
    background: #f8f8f8;
    border: solid 1px #eee;
    border-radius: 0.3ex;
}
article.main p.lv3 {
    margin-left: 8ex;
    padding: 0 0.3ex;
    text-indent: 0;
    font-size: 90%;
    color: #222;
}
article.main p.lv4 {
    margin-left: 8ex;
    padding: 0 0.3ex;
    text-indent: 0;
    color: #222;
    font-size: 90%;
    background: #f8f8f8;
    border: solid 1px #eee;
    border-radius: 0.3ex;
}
article.main a {
    color: #02b;
    text-decoration: none;
}
article.main a.external {
    color: #20b;
}
article.main a.dead {
    color: #802;
}
article.main a:hover {
    color: #04f;
    text-decoration: underline;
}
article.main span.colored a, article.main span.colored a.external {
    color: inherit;
}
article.main kbd {
    font-size: 95%;
}

/* columns */
article.main section.column {
    display: none;
    position: relative;
    margin: 0.7ex 1.0ex;
    padding: 0.5ex 0.7ex;
    font-size: 95%;
    border-radius: 0.3ex;
}
article.main section.column_overt {
    background: #ffe;
    border: solid 1px #ee9;
}
article.main section.column_covert {
    background: #eff;
    border: solid 1px #bef;
}
article.main div.column_close {
    position: absolute;
    top: 0.5ex;
    right: 0.5ex;
    padding: 0 0.5ex;
    width: 1.5ex;
    text-align: center;
    font-size: 70%;
    background: #ddd;
    border: 1px solid #888;
    border-radius: 0.2ex;
    cursor: pointer;
    opacity: 0.2;
}
article.main div.column_close:hover {
    opacity: 0.8;
}
article.main div.column_caption {
    text-align: center;
    font-weight: bold;
}
article.main span.column_trigger {
    display: inline-block;
    margin: 0.5ex 1ex;
    padding: 0.5ex 1ex;
    text-align: center;
    border-radius: 1ex;
    cursor: pointer;
}
article.main span.column_overt_trigger {
    background: #ffd;
    border: solid 1px #ee8;
}
article.main span.column_covert_trigger {
    background: #def;
    border: solid 1px #adf;
}

/* images */
article.main div.image_area {
    margin: 0.8ex 0;
    padding: 0;
    width: 100%;
    clear: both;
    text-align: center;
}
article.main span.image_cell {
    position: relative;
    margin: 0;
    padding: 0;
}
article.main span.image_caption {
    position: absolute;
    bottom: 8px;
    right: 4px;
    z-index: 1;
    min-width: 5ex;
    padding: 0.1ex 0.3ex;
    background: #fff;
    border-radius: 0.3ex;
    font-size: 80%;
    color: #000;
    opacity: 0.6;
}
article.main span.image_caption2 {
    font-size: 75%;
}
article.main span.image_caption3 {
    font-size: 70%;
}
article.main span.image_caption4 {
    font-size: 65%;
}
article.main span.image_caption5 {
    font-size: 60%;
}
article.main span.image_cell:hover span.image_caption {
    opacity: 0.2;
    z-index: -1;
}
article.main img.emb_image1 {
    max-width: 70%;
    border-radius: 0.4ex;
}
article.main img.emb_image2 {
    max-width: 45%;
    border-radius: 0.3ex;
}
article.main img.emb_image3 {
    max-width: 32%;
    border-radius: 0.3ex;
}
article.main img.emb_image4 {
    max-width: 24%;
    border-radius: 0.2ex;
}
article.main img.emb_image5 {
    max-width: 19%;
    border-radius: 0.2ex;
}
article.main span.image_float {
    display: inline-block;
    position: relative;
    width: 48%;
    clear: both;
}
article.main span.image_float_left {
    float: left;
    margin: 0.4ex 0.8ex 0.4ex 0;
}
article.main span.image_float_right {
    float: right;
    margin: 0.4ex 0ex 0.4ex 0.8ex;
}
article.main span.image_float img {
    width: 100%;
    border-radius: 0.3ex;
}
article.main span.image_float:hover span.image_caption {
    opacity: 0.2;
    z-index: -1;
}

/* videos */
article.main div.video_area {
    margin: 0.8ex 0;
    padding: 0;
    width: 100%;
    clear: both;
    text-align: center;
}
article.main span.video_cell {
    position: relative;
    margin: 0;
    padding: 0;
}
article.main span.video_caption {
    position: absolute;
    bottom: 8px;
    right: 4px;
    z-index: 1;
    min-width: 5ex;
    padding: 0.1ex 0.3ex;
    background: #fff;
    border-radius: 0.3ex;
    font-size: 80%;
    color: #000;
    opacity: 0.6;
}
article.main span.video_caption2 {
    font-size: 75%;
}
article.main span.video_caption3 {
    font-size: 70%;
}
article.main span.video_caption4 {
    font-size: 65%;
}
article.main span.video_caption5 {
    font-size: 60%;
}
article.main span.video_cell:hover span.video_caption {
    opacity: 0.2;
    z-index: -1;
}
article.main video.emb_video1 {
    max-width: 70%;
    border-radius: 0.4ex;
}
article.main video.emb_video2 {
    max-width: 45%;
    border-radius: 0.3ex;
}
article.main video.emb_video3 {
    max-width: 32%;
    border-radius: 0.3ex;
}
article.main video.emb_video4 {
    max-width: 24%;
    border-radius: 0.2ex;
}
article.main video.emb_video5 {
    max-width: 19%;
    border-radius: 0.2ex;
}
article.main span.video_float {
    display: inline-block;
    position: relative;
    width: 48%;
    clear: both;
}
article.main span.video_float_left {
    float: left;
    margin: 0.4ex 0.8ex 0.4ex 0;
}
article.main span.video_float_right {
    float: right;
    margin: 0.4ex 0ex 0.4ex 0.8ex;
}
article.main span.video_float video {
    width: 100%;
    border-radius: 0.3ex;
}
article.main span.video_float:hover span.video_caption {
    opacity: 0.2;
    z-index: -1;
}

/* youtube */
article.main div.youtube_area {
    margin: 0.8ex 0;
    padding: 0;
    width: 100%;
    clear: both;
    text-align: center;
}
article.main span.youtube_cell {
    position: relative;
    margin: 0;
    padding: 0;
}
article.main span.youtube_caption {
    position: absolute;
    bottom: 8px;
    right: 4px;
    z-index: 1;
    min-width: 5ex;
    padding: 0.1ex 0.3ex;
    background: #fff;
    border-radius: 0.3ex;
    font-size: 80%;
    color: #000;
    opacity: 0.6;
}
article.main span.youtube_caption2 {
    font-size: 75%;
}
article.main span.youtube_cell:hover span.youtube_caption {
    opacity: 0.2;
    z-index: -1;
}
article.main iframe.youtube1 {
    width: 90%;
}
article.main iframe.youtube2 {
    width: 48%;
}
article.main span.youtube_float {
    display: inline-block;
    position: relative;
    width: 48%;
    clear: both;
}
article.main span.youtube_float_left {
    float: left;
    margin: 0.4ex 0.8ex 0.4ex 0;
}
article.main span.youtube_float_right {
    float: right;
    margin: 0.4ex 0ex 0.4ex 0.8ex;
}
article.main span.youtube_float iframe {
    width: 100%;
    height: 100%;
}
article.main span.youtube_float:hover span.youtube_caption {
    opacity: 0.2;
    z-index: -1;
}

/* maps */
article.main div.maps_area {
    margin: 0.8ex 0;
    padding: 0;
    width: 100%;
    clear: both;
    text-align: center;
}
article.main span.maps_cell {
    position: relative;
    margin: 0;
    padding: 0;
}
article.main span.maps_caption {
    position: absolute;
    bottom: 8px;
    right: 4px;
    z-index: 1;
    min-width: 5ex;
    padding: 0.1ex 0.3ex;
    background: #000;
    border-radius: 0.3ex;
    font-size: 80%;
    color: #fff;
    opacity: 0.7;
}
article.main span.maps_caption2 {
    font-size: 75%;
}
article.main span.maps_cell:hover span.maps_caption {
    opacity: 0.2;
    z-index: -1;
}
article.main iframe.maps1 {
    width: 90%;
}
article.main iframe.maps2 {
    width: 48%;
}
article.main span.maps_float {
    display: inline-block;
    position: relative;
    width: 48%;
    clear: both;
}
article.main span.maps_float_left {
    float: left;
    margin: 0.4ex 0.8ex 0.4ex 0;
}
article.main span.maps_float_right {
    float: right;
    margin: 0.4ex 0ex 0.4ex 0.8ex;
}
article.main span.maps_float iframe {
    width: 100%;
    height: 100%;
}
article.main span.maps_float:hover span.maps_caption {
    opacity: 0.2;
    z-index: -1;
}

/* horizontal lines */
article.main hr {
    margin: auto;
    text-align: center;
    border: none;
}
article.main hr.hr0 {
    margin-top: 0.8ex;
    margin-bottom: 0.8ex;
    border-top: solid 1px #fff;
    width: 1%;
    clear: both;
}
article.main hr.hr1 {
    margin-top: 1.2ex;
    margin-bottom: 1.2ex;
    border-top: solid 1px #aaa;
    width: 50%;
    clear: both;
}
article.main hr.hr2 {
    margin-top: 1.8ex;
    margin-bottom: 1.8ex;
    border-top: solid 1px #666;
    width: 75%;
    clear: both;
}
article.main hr.hr3 {
    margin-top: 2.8ex;
    margin-bottom: 2.8ex;
    border-top: solid 1px #333;
    width: 100%;
    clear: both;
}

/* site-level tags */
article.main dl.site_tags_area {
    margin: 0.8ex 0.5ex 0.8ex 0ex;
    padding: 0;
}
article.main dl.site_tags_area dt.site_tags_name {
    display: list-item;
    margin-left: 3ex;
    list-style-type: disc;
}
article.main dl.site_tags_area span.site_tags_count {
    color: #555;
    font-size: 90%;
}
article.main dl.site_tags_area dd.site_tags_resources {
    display: list-item;
    margin-left: 3ex;
    list-style-type: none;
    font-size: 95%;
}

/* page-level table of contents */
article.main ul.page_toc_area {
    margin: 0.8ex 0.5ex 0.8ex 5ex;
    padding: 0;
}
article.main ul.page_toc_area li.pagetoc1 {
    margin-left: 0ex;
}
article.main ul.page_toc_area li.pagetoc2 {
    margin-left: 3ex;
    font-size: 95%;
}
article.main ul.page_toc_area li.pagetoc3 {
    margin-left: 6ex;
    font-size: 90%;
}

/* site-level table of contents */
article.main div.site_toc_area {
    margin: 0.8ex 0;
}
article.main div.site_toc_area ul {
    margin-left: 5ex;
    padding: 0;
}
article.main div.site_toc_area li {
    margin: 0;
    font-size: 95%;
}
article.main div.site_toc_area span.attrdate {
    font-size: 80%;
    color: #444;
}

/* share buttons */
div.share_button_area {
    margin: 0.8ex 0 0.3ex 0;
    width: 100%;
    clear: both;
    text-align: right;
}
div.share_button_area span.share_button_container {
    display: inline-block;
}
div.share_button_area iframe {
    border: none;
}
div.share_button_area span.share_button {
    opacity: 0.5;
}
div.share_button_area span.share_button:hover {
    opacity: 1.0;
}

/* tags */
div.tags_area {
    margin: 0.8ex 0;
    padding: 0;
    clear: both;
    text-align: right;
}
div.tags_area span.tag {
    display: inline-block;
    max-width: 24ex;
    padding: 0.5ex 1ex;
    text-align: center;
    font-size: 90%;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 1ex;
    cursor: pointer;
    opacity: 0.6;
}
div.tags_area span.tag:hover {
    opacity: 1.0;
}
div.tags_area div#tags_result {
    display: none;
    max-height: 50ex;
    margin: 0.8ex 0;
    padding: 0;
    overflow: scroll;
    text-align: center;
}
div.tags_area a.tags_result_item {
    display: inline-block;
    max-width: 24ex;
    margin: 0 0.2ex;
    padding: 0.5ex 1ex;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    font-size: 80%;
    color: #000;
    text-decoration: none;
    border-radius: 1ex;
    cursor: pointer;
    opacity: 0.6;
}
div.tags_area a.tags_result_item_self {
    background: #eee;
    border: 1px solid #ddd;
}
div.tags_area a.tags_result_item_other {
    background: #def;
    border: 1px solid #adf;
}

div.tags_area a.tags_result_item:hover {
    opacity: 1.0;
}

/* page step links */
div.step_link_area {
    margin: 0.8ex 0;
    width: 100%;
    clear: both;
    text-align: center;
}
div.step_link_area a.step_button {
    display: inline-block;
    width: 20ex;
    min-height: 4ex;
    margin: 0 0.2ex;
    padding: 0.5ex 0;
    text-align: center;
    line-height: 0.8;
    white-space: nowrap;
    overflow: hidden;
    background: #def;
    border: 1px solid #adf;
    border-radius: 1ex;
    opacity: 0.5;
}
div.step_link_area a.step_button:hover {
    opacity: 1.0;
}
div.step_link_area a.step_button {
    color: #345;
    text-decoration: none;    
}
div.step_link_area span.step_title {
    font-size: 65%;
}

/* comments */
div.comment_area {
    margin: 0.3ex 0 0.8ex 0;
    width: 100%;
    clear: both;
}
div.comment_area span#comment_banner {
    display: inline-block;
    padding: 0.5ex 2ex;
    text-align: center;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 1ex;
    cursor: pointer;
    opacity: 0.5;
}
div.comment_area span#comment_banner.comment_filled {
    background: #efd;
    border: 1px solid #dec;
}
div.comment_area span#comment_banner.comment_recent {
    background: #fde;
    border: 1px solid #ecd;
}
div.comment_area span.comment_count {
    margin-left: 0.4ex;
    font-size: 80%;
    color: #333;
}
div.comment_area span#comment_banner:hover {
    opacity: 1.0;
}
div.comment_area div#comment_list {
    display: none;
}
div.comment_area div.comment_item {
    position: relative;
    margin: 0.8ex 0;
    padding: 0;
    border-top: 1px solid #eee;
}
div.comment_area div.comment_message {
    margin: 1ex 3ex;
    padding: 0;
    font-size: 90%;
    color: #999;
}
div.comment_area div.comment_date {
    position: absolute;
    top: 1.2ex;
    right: 1ex;
    font-size: 80%;
    color: #999;
}
div.comment_area div.comment_author {
    margin: 1ex 0 0 2ex;
    font-size: 90%;
}
div.comment_area div.comment_text {
    margin: 0 1ex 0 2ex;
    padding: 0.3ex 0.5ex;
    max-height: 24ex;
    overflow-y: scroll;
    white-space: pre-wrap;
    word-break: break-all;
    font-size: 85%;
    background: #f8f8f8;
}
form#comment_form {
    display: none;
    border-top: 1px solid #eee;
}
div.comment_area table {
    margin: 0.5ex 0.8ex;
    width: 85%;
}
div.comment_area td {
    vertical-align: top;
}
div.comment_area td.comment_form_label {
    width: 6ex;
    text-align: right;
    font-family: monospace;
    font-size: 80%;
    color: #555;
}
div.comment_area input#comment_author {
    width: 20ex;
    font-size: 90%;
}
div.comment_area textarea#comment_text {
    width: 100%;
    font-size: 90%;
}
div.comment_area button#comment_post {
    width: 14ex;
    font-size: 90%;
    font-family: monospace;
}
div.comment_area span#comment_message {
    display: none;
    margin-left: 1.5ex;
    padding: 0.2ex 1ex;
    font-size: 85%;
    font-family: monospace;
    color: #555;
    background: #ffe;
    border: 1pt solid #eed;
    border-radius: 1ex;
}

/* comment history */
div.comment_history_area {
    position: relative;
    margin: 0.7ex 0.5ex;
    padding: 0;
    font-size: 80%;
    color: #333;
    border: 1px dashed #aaa;
    border-radius: 1ex;
}
div.comment_history_area div.history_meta {
    margin: 0.2ex 1.5ex;
}
div.comment_history_area div.history_control {
    position: absolute;
    right: 0.5ex;
    top: 0.2ex;
}
div.comment_history_area span.history_step {
    display: inline-block;
    width: 3ex;
    margin: 0.2ex;
    text-align: center;
    border-radius: 1ex;
    opacity: 0.5;
}
div.comment_history_area span.history_step_active {
    background: #def;
    border: solid 1px #adf;
    cursor: pointer;
}
div.comment_history_area span.history_step_active:hover {
    opacity: 1;
}
div.comment_history_area span.history_step_inactive {
    background: #eee;
    border: solid 1px #ddd;
}
div.comment_history_area ul {
    margin: 0;
}
div.comment_history_area li {
    margin: 0.2ex 1ex 0.2ex 3ex;
    word-break: break-all;
}
div.comment_history_area span.history_author {
    font-size: 120%;
    color: #000;
}
div.comment_history_area a.history_resource {
    font-size: 100%;
}
div.comment_history_area span.history_date {
    font-size: 85%;
}
div.comment_history_area div.history_message {
    margin: 1ex 2ex;
    padding: 0;
    font-size: 90%;
    color: #999;
}

/* search */
div.search_area {
    margin: 0.8ex 0;
    padding: 0;
    width: 100%;
}
div.search_area span.search_control {
    display: inline-block;
    padding: 0.5ex 0.8ex;
    background: #f8f8f8;
    border: solid 1px #eee;
    border-radius: 0.3ex;
}
div.search_area input.search_query {
    width: 30ex;
}
div.search_area div.search_result {
    display: none;
    position: relative;
    margin: 0.4ex 0 0 0;
    padding: 0 1.2ex;
    font-size: 90%;
    border: 1px dashed #aaa;
    border-radius: 1ex;
}

div.search_area div.search_meta {
    margin: 0.2ex 0.2ex;
    font-size: 80%;
    color: #333;
}
div.search_area div.search_control {
    position: absolute;
    right: 0.5ex;
    top: 0.2ex;
    font-size: 80%;
    color: #333;
}
div.search_area span.search_step {
    display: inline-block;
    width: 3ex;
    margin: 0.2ex;
    text-align: center;
    border-radius: 1ex;
    opacity: 0.5;
}
div.search_area span.search_step_active {
    background: #def;
    border: solid 1px #adf;
    cursor: pointer;
}
div.search_area span.search_step_active:hover {
    opacity: 1;
}
div.search_area span.search_step_inactive {
    background: #eee;
    border: solid 1px #ddd;
}
div.search_area div.search_result_item {
    margin-top: 0.5ex;
}
div.search_area span.search_result_date {
    margin-left: 1ex;
    font-size: 90%;
    color: #888;
}
div.search_area div.search_result_snippet_list {
    margin-left: 2ex;
    font-size: 90%;
    word-break: break-all;
}
div.search_area span.search_result_snippet_delim {
    font-size: 70%;
    color: #888;
}
div.search_area div.search_result_message {
    padding: 0 1ex;
    color: #888;
}

/* for large screens */
@media screen and (min-width:750px) {
    html {
        background: #eee;
    }
    body {
        display: inline-block;
        width: 700px;
        margin: 1ex 1ex;
        padding: 1ex 2ex;
        border: 1pt solid #ccc;
        border-radius: 1ex;
        text-align: left;
        background: #fff;
    }
    article.main img.emb_image1 {
        max-height: 490px;
    }
    article.main img.emb_image2 {
        max-height: 330px;
    }
    article.main img.emb_image3 {
        max-height: 225px;
    }
    article.main img.emb_image4 {
        max-height: 170px;
    }
    article.main img.emb_image5 {
        max-height: 140px;
    }
    article.main video.emb_video1 {
        max-height: 560px;
    }
    article.main video.emb_video2 {
        max-height: 330px;
    }
    article.main video.emb_video3 {
        max-height: 225px;
    }
    article.main video.emb_video4 {
        max-height: 170px;
    }
    article.main video.emb_video5 {
        max-height: 140px;
    }
    article.main iframe.youtube1 {
        width: 560px;
        height: 340px;
    }
    article.main iframe.youtube2 {
        width: 320px;
        height: 210px;
    }
    article.main span.youtube_float {
        width: 340px;
        height: 220px;
    }
    article.main iframe.maps1 {
        width: 500px;
        height: 400px;
    }
    article.main iframe.maps2 {
        width: 320px;
        height: 240px;
    }
    article.main span.maps_float {
        width: 340px;
        height: 245px;
    }
}

/* for small screens */
@media screen and (max-width:749px) {
    article.main p {
        text-indent: 1.2ex;
    }
    article.main p.lv1 {
        margin-left: 2ex;
    }
    article.main p.lv2 {
        margin-left: 2ex;
    }
    article.main p.lv3 {
        margin-left: 4ex;
    }
    article.main p.lv4 {
        margin-left: 4ex;
    }
    article.main ul.ul1, article.main ol.ul1 {
        margin-left: 2ex;
    }
    article.main li.li2 {
        margin-left: 2ex;
    }
    article.main li.li3 {
        margin-left: 4ex;
    }
    article.main ul.page_toc_area {
        margin-left: 2ex;
    }
    article.main div.site_toc_area ul {
        margin-left: 2ex;
    }
    article.main img.emb_image1 {
        max-width: 90%;
    }
    article.main video.emb_video1 {
        max-width: 90%;
    }
    article.main table {
        font-size: 80%;
    }
    article.main td {
        padding: 0 0.3ex;
    }
    article.main dl.site_tags_area dt.site_tags_name {
        margin-left: 2ex;
    }
    article.main dl.site_tags_area dd.site_tags_resources {
        margin-left: 1.5ex;
    }
    div.comment_history_area li {
        margin-left: 2ex;
    }
    div.step_link_area a.step_button {
        width: 14ex;
    }
    div.step_link_area span.step_title {
        font-size: 50%;
    }
    div.comment_area table {
        margin: 0.5ex 0.8ex;
        width: 90%;
    }
}
