/* page structure */
html {
    margin: 0;
    padding: 0;
    background: #fff;
    text-align: center;
    font-size: 12pt;
    color: #111;
    text-justify: none;
    direction: ltr;
}
body {
    display: inline-block;
    text-align: left;
    line-height: 1.5;
}

/* site title */
div.site_title_area {
    margin: 0.5ex 0 1.2ex 0;
}
div.site_title_area h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 110%;
}
div.site_title_area h1 a {
    color: #000;
    text-decoration: none;
}
div.site_title_area h1 a:hover {
    color: #01a;
    text-decoration: underline;
}
div.site_title_area div.subtitle {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 90%;
    color: #333;
}

/* page title */
article.main {
  margin: 0 0 3ex 0;
}
article.main div.page_title_area {
    margin: 0.5ex 0 1.2ex 0;
    padding: 0;
    border-bottom: 1px dashed #aaa;
}
article.main h2 {
    margin: 0;
    padding: 0;
    font-size: 120%;
    color: #000;
}
article.main h2 a {
    color: #000;
    text-decoration: none;
}
article.main h2 a:hover {
    color: #01a;
    text-decoration: underline;
}
article.main div.date {
    margin: 0 0 0 0.5ex;
    padding: 0;
    font-size: 90%;
    color: #555;
}

/* page content */
article.main h3 {
    margin: 1.5ex 0 1.2ex 0;
    padding: 0;
    font-size: 105%;
    color: #000;
}
article.main h4 {
    margin: 1.3ex 0 0.9ex 0;
    padding: 0 1ex;
    font-size: 100%;
}
article.main h5 {
    margin: 1.1ex 0 0.7ex 0;
    padding: 0 2ex;
    font-size: 95%;
}
article.main p {
    margin: 0.8ex 0;
    padding: 0;
    text-indent: 2ex;
}
article.main pre {
    margin: 0.7ex 0.5ex;
    padding: 0.3ex 0.5ex;
    line-height: 1.2;
    white-space: pre-wrap;
    word-break: break-all;
    font-size: 85%;
    font-family: monospace;
    background: #f8f8f8;
    border-radius: 0.3ex;
}
article.main ul {
    margin: 0.8ex 0.5ex 0.8ex 5ex;
    padding: 0;
}
article.main li.l1 {
    margin-left: 0ex;
}
article.main li.l2 {
    margin-left: 3ex;
    font-size: 95%;
}
article.main li.l3 {
    margin-left: 6ex;
    font-size: 90%;
}
article.main table {
    margin: 1.0ex 1.0ex;
    font-size: 90%;
    border-collapse: collapse;
}
article.main td {
    padding: 0 0.5ex;
    word-break: break-all;
    border: solid 1px #888;
}
article.main td.num {
    text-align: right;
    font-family: monospace;
}
article.main a {
    color: #02b;
    text-decoration: none;
}
article.main a.external {
    color: #20b;
}
article.main a.dead {
    color: #802;
}
article.main a:hover {
    color: #04f;
    text-decoration: underline;
}
article.main b {
    color: #000;
}
article.main i {
    color: #000;
}
article.main kbd {
    color: #000;
    font-size: 90%;
}

/* images */
article.main div.image_area {
    margin: 0.8ex 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
article.main span.image_cell {
    position: relative;
    margin: 0;
    padding: 0;
}
article.main span.image_caption {
    position: absolute;
    bottom: 8px;
    right: 4px;
    z-index: 1;
    min-width: 5ex;
    padding: 0.1ex 0.3ex;
    background: #fff;
    border-radius: 0.3ex;
    font-size: 80%;
    color: #000;
    opacity: 0.6;
}
article.main span.image_caption2 {
    font-size: 75%;
}
article.main span.image_caption3 {
    font-size: 70%;
}
article.main span.image_caption4 {
    font-size: 65%;
}
article.main span.image_caption5 {
    font-size: 60%;
}
article.main span.image_cell:hover span.image_caption {
    opacity: 0.2;
    z-index: -1;
}
article.main img.emb_image1 {
    max-width: 70%;
}
article.main img.emb_image2 {
    max-width: 45%;
}
article.main img.emb_image3 {
    max-width: 32%;
}
article.main img.emb_image4 {
    max-width: 24%;
}
article.main img.emb_image5 {
    max-width: 19%;
}

/* videos */
article.main div.video_area {
    margin: 0.8ex 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
article.main span.video_cell {
    position: relative;
    margin: 0;
    padding: 0;
}
article.main span.video_caption {
    position: absolute;
    bottom: 8px;
    right: 4px;
    z-index: 1;
    min-width: 5ex;
    padding: 0.1ex 0.3ex;
    background: #fff;
    border-radius: 0.3ex;
    font-size: 80%;
    color: #000;
    opacity: 0.6;
}
article.main span.video_caption2 {
    font-size: 75%;
}
article.main span.video_caption3 {
    font-size: 70%;
}
article.main span.video_caption4 {
    font-size: 65%;
}
article.main span.video_caption5 {
    font-size: 60%;
}
article.main span.video_cell:hover span.video_caption {
    opacity: 0.2;
    z-index: -1;
}
article.main video.emb_video1 {
    max-width: 70%;
}
article.main video.emb_video2 {
    max-width: 45%;
}
article.main video.emb_video3 {
    max-width: 32%;
}
article.main video.emb_video4 {
    max-width: 24%;
}
article.main video.emb_video5 {
    max-width: 19%;
}

/* youtube */
article.main div.youtube_area {
    margin: 0.8ex 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
article.main span.youtube_cell {
    position: relative;
    margin: 0;
    padding: 0;
}
article.main span.youtube_caption {
    position: absolute;
    bottom: 8px;
    right: 4px;
    z-index: 1;
    min-width: 5ex;
    padding: 0.1ex 0.3ex;
    background: #fff;
    border-radius: 0.3ex;
    font-size: 80%;
    color: #000;
    opacity: 0.6;
}
article.main span.youtube_caption2 {
    font-size: 75%;
}
article.main span.youtube_cell:hover span.youtube_caption {
    opacity: 0.2;
    z-index: -1;
}
article.main iframe.youtube1 {
    width: 90%;
}
article.main iframe.youtube2 {
    width: 48%;
}

/* maps */
article.main div.maps_area {
    margin: 0.8ex 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
article.main span.maps_cell {
    position: relative;
    margin: 0;
    padding: 0;
}
article.main span.maps_caption {
    position: absolute;
    bottom: 8px;
    right: 4px;
    z-index: 1;
    min-width: 5ex;
    padding: 0.1ex 0.3ex;
    background: #000;
    border-radius: 0.3ex;
    font-size: 80%;
    color: #fff;
    opacity: 0.7;
}
article.main span.maps_caption2 {
    font-size: 75%;
}
article.main span.maps_cell:hover span.maps_caption {
    opacity: 0.2;
    z-index: -1;
}
article.main iframe.maps1 {
    width: 90%;
}
article.main iframe.maps2 {
    width: 48%;
}

/* page-level table of contents */
ul.page_toc_area {
    margin: 0.8ex 0.5ex 0.8ex 5ex;
    padding: 0;
}
ul.page_toc_area li.pagetoc1 {
    margin-left: 0ex;
}
ul.page_toc_area li.pagetoc2 {
    margin-left: 3ex;
    font-size: 95%;
}
ul.page_toc_area li.pagetoc3 {
    margin-left: 6ex;
    font-size: 90%;
}

/* site-level table of contents */
article.main div.site_toc_area {
    margin: 0.8ex 0;
}
article.main div.site_toc_area li {
    font-size: 95%;
}

/* share buttons */
div.share_button_area {
    margin: 0.8ex 0 0.3ex 0;
    width: 100%;
    text-align: right;
}
div.share_button_area span.share_button_container {
    display: inline-block;
}
div.share_button_area iframe {
    border: none;
}
div.share_button_area span.share_button {
    opacity: 0.5;
}
div.share_button_area span.share_button:hover {
    opacity: 1.0;
}

/* page step links */
div.step_link_area {
    margin: 0.8ex 0;
    width: 100%;
    text-align: center;
}
div.step_link_area a.step_button {
    display: inline-block;
    width: 20ex;
    min-height: 4ex;
    margin: 0 0.2ex;
    padding: 0.5ex 0;
    text-align: center;
    line-height: 0.8;
    white-space: no-wrap;
    overflow: hidden;
    background: #def;
    border: 1px solid #adf;
    border-radius: 1ex;
    opacity: 0.5;
}
div.step_link_area a.step_button:hover {
    opacity: 1.0;
}
div.step_link_area a.step_button {
    color: #345;
    text-decoration: none;    
}
div.step_link_area span.step_title {
    font-size: 65%;
}

/* comments */
div.comment_area {
    margin: 0.3ex 0 0.8ex 0;
    width: 100%;
}
div.comment_area span#comment_banner {
    display: inline-box;
    padding: 0.5ex 2ex;
    text-align: center;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 1ex;
    cursor: pointer;
    opacity: 0.5;
}
div.comment_area span#comment_banner.comment_filled {
    background: #efd;
    border: 1px solid #dec;
}
div.comment_area span#comment_banner.comment_recent {
    background: #fde;
    border: 1px solid #ecd;
}
div.comment_area span.comment_count {
    margin-left: 0.4ex;
    font-size: 80%;
    color: #333;
}

div.comment_area span#comment_banner:hover {
    opacity: 1.0;
}
div.comment_area div#comment_list {
    display: none;
}
div.comment_area div.comment_item {
    position: relative;
    margin: 0.8ex 0;
    padding: 0;
    border-top: 1px solid #eee;
}
div.comment_area div.comment_message {
    margin: 1ex 3ex;
    padding: 0;
    font-size: 90%;
    color: #999;
}
div.comment_area div.comment_date {
    position: absolute;
    top: 1.2ex;
    right: 1ex;
    font-size: 80%;
    color: #999;
}
div.comment_area div.comment_author {
    margin: 1ex 0 0 2ex;
    font-size: 90%;
}
div.comment_area div.comment_text {
    margin: 0 1ex 0 2ex;
    padding: 0.3ex 0.5ex;
    max-height: 24ex;
    overflow-y: scroll;
    white-space: pre-wrap;
    word-break: break-all;
    font-size: 85%;
    background: #f8f8f8;
}
form#comment_form {
    display: none;
    border-top: 1px solid #eee;
}
div.comment_area table {
    margin: 0.5ex 0.8ex;
    width: 85%;
}
div.comment_area td {
    vertical-align: top;
}
div.comment_area td.comment_form_label {
    width: 6ex;
    text-align: right;
    font-family: monospace;
    font-size: 80%;
    color: #555;
}
div.comment_area input#comment_author {
    width: 20ex;
    font-size: 90%;
}
div.comment_area textarea#comment_text {
    width: 100%;
    font-size: 90%;
}
div.comment_area button#comment_post {
    width: 14ex;
    font-size: 90%;
    font-family: monospace;
}
div.comment_area span#comment_message {
    display: none;
    margin-left: 1.5ex;
    padding: 0.2ex 1ex;
    font-size: 85%;
    font-family: monospace;
    color: #555;
    background: #ffe;
    border: 1pt solid #eed;
    border-radius: 1ex;
}

/* comment history */
div.comment_history_area {
    margin: 0.7ex 0.5ex;
    padding: 0;
    font-size: 80%;
    color: #333;
    border: 1px dashed #aaa;
    border-radius: 1ex;
}
div.comment_history_area ul {
    margin: 0;
}
div.comment_history_area li {
    margin: 0.2ex 1ex 0.2ex 3ex;
    word-break: break-all;
}
div.comment_history_area span.history_author {
    font-size: 120%;
    color: #000;
}
div.comment_history_area a.history_resource {
    font-size: 100%;
}
div.comment_history_area span.history_date {
    font-size: 85%;
}
div.comment_history_area div.history_message {
    margin: 1ex 2ex;
    padding: 0;
    font-size: 90%;
    color: #999;
}

/* for large screens */
@media screen and (min-width:750px) {
  html {
      background: #eee;
  }
  body {
      display: inline-block;
      width: 700px;
      margin: 1ex 1ex;
      padding: 1ex 2ex;
      border: 1pt solid #ccc;
      border-radius: 1ex;
      text-align: left;
      background: #fff;
  }
  article.main img.emb_image1 {
      max-height: 490px;
  }
  article.main img.emb_image2 {
      max-height: 330px;
  }
  article.main img.emb_image3 {
      max-height: 225px;
  }
  article.main img.emb_image4 {
      max-height: 170px;
  }
  article.main img.emb_image5 {
      max-height: 140px;
  }
  article.main video.emb_video1 {
      max-height: 560px;
  }
  article.main video.emb_video2 {
      max-height: 330px;
  }
  article.main video.emb_video3 {
      max-height: 225px;
  }
  article.main video.emb_video4 {
      max-height: 170px;
  }
  article.main video.emb_video5 {
      max-height: 140px;
  }
  article.main iframe.youtube1 {
      width: 560px;
      height: 340px;
  }
  article.main iframe.youtube2 {
      width: 315px;
      height: 200px;
  }
  article.main iframe.maps1 {
      width: 500px;
      height: 400px;
  }
  article.main iframe.maps2 {
      width: 300px;
      height: 240px;
  }
}

/* for small screens */
@media screen and (max-width:749px) {
    article.main p {
        text-indent: 1.2ex;
    }
    article.main img.emb_image1 {
        max-width: 90%;
    }
    article.main video.emb_video1 {
        max-width: 90%;
    }
    article.main table {
        font-size: 80%;
    }
    article.main td {
        padding: 0 0.3ex;
    }
    div.step_link_area a.step_button {
        width: 14ex;
    }
    div.step_link_area span.step_title {
        font-size: 50%;
    }
    div.comment_area table {
        margin: 0.5ex 0.8ex;
        width: 90%;
    }
}
