/* Page structure */
html {
    margin: 0;
    padding: 0;
    background: #fff;
    text-align: center;
    font-size: 12pt;
    color: #111;
    text-justify: none;
    direction: ltr;
}
body {
    display: inline-block;
    text-align: left;
    line-height: 1.4;
}

/* site title */
div.site_title_area {
    margin: 0.5ex 0 1ex 0;
}
div.site_title_area h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 110%;
}
div.site_title_area h1 a {
    color: #000;
    text-decoration: none;
}
div.site_title_area h1 a:hover {
    color: #01a;
    text-decoration: underline;
}
div.site_title_area div.subtitle {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 90%;
    color: #333;
}

/* page title */
article.main div.page_title_area {
    margin: 0.5ex 0 1ex 0;
    padding: 0;
}
article.main h2 {
    margin: 0;
    padding: 0;
    font-size: 120%;
    color: #000;
}
article.main h2 a {
    color: #000;
    text-decoration: none;
}
article.main h2 a:hover {
    color: #01a;
    text-decoration: underline;
}
article.main div.date {
    margin: 0 0 0 0.5ex;
    padding: 0;
    font-size: 90%;
    color: #555;
}

/* page content */
article.main h3 {
    margin: 1.4ex 0 1.0ex 0;
    padding: 0;
    font-size: 105%;
    color: #000;
}
article.main h4 {
    margin: 1.2ex 0 0.8ex 0;
    padding: 0 1ex;
    font-size: 100%;
}
article.main h5 {
    margin: 1.0ex 0 0.6ex 0;
    padding: 0 2ex;
    font-size: 95%;
}
article.main p {
    margin: 0.7ex 0;
    padding: 0;
    text-indent: 2ex;
}
article.main pre {
    margin: 0.6ex 0.5ex;
    padding: 0.3ex 0.5ex;
    line-height: 1.2;
    white-space: pre-wrap;
    word-break: break-all;
    font-size: 90%;
    background: #f8f8f8;
    border-radius: 0.3ex;
}
article.main ul {
    margin: 0.6ex 0.5ex 0.6ex 5ex;
    padding: 0;
}
article.main li.l1 {
    margin-left: 0ex;
}
article.main li.l2 {
    margin-left: 3ex;
    font-size: 95%;
}
article.main li.l3 {
    margin-left: 6ex;
    font-size: 90%;
}
article.main table {
    margin: 1.0ex 1.0ex;
    font-size: 95%;
    border-collapse: collapse;
}
article.main td {
    padding: 0 0.5ex;
    word-break: break-all;
    border: solid 1px #888;
}
article.main b {
    color: #000;
}
article.main i {
    color: #000;
}
article.main kbd {
    color: #000;
    font-size: 90%;
}

/* images */
article.main div.image_area {
    margin: 0.7ex 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
article.main span.image_cell {
    position: relative;
    margin: 0;
    padding: 0;
}
article.main span.image_caption {
    position: absolute;
    bottom: 8px;
    right: 4px;
    z-index: 1;
    min-width: 5ex;
    padding: 0.1ex 0.3ex;
    background: #fff;
    border-radius: 0.3ex;
    font-size: 80%;
    color: #000;
    opacity: 0.6;
}
article.main span.image_cell:hover span.image_caption {
    opacity: 0.2;
}
article.main img.img1 {
    max-width: 80%;
}
article.main img.img2 {
    max-width: 45%;
}
article.main img.img3 {
    max-width: 32%;
}
article.main img.img4 {
    max-width: 24%;
}
article.main img.img5 {
    max-width: 19%;
}

/* videos */
article.main div.video_area {
    margin: 0.7ex 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
article.main span.video_cell {
    position: relative;
    margin: 0;
    padding: 0;
}
article.main span.video_caption {
    position: absolute;
    bottom: 8px;
    right: 4px;
    z-index: 1;
    min-width: 5ex;
    padding: 0.1ex 0.3ex;
    background: #fff;
    border-radius: 0.3ex;
    font-size: 80%;
    color: #000;
    opacity: 0.6;
}
article.main span.video_cell:hover span.video_caption {
    opacity: 0.2;
    z-index: -1;
}
article.main video.video1 {
    max-width: 80%;
}
article.main video.video2 {
    max-width: 45%;
}
article.main video.video3 {
    max-width: 32%;
}
article.main video.video4 {
    max-width: 24%;
}
article.main video.video5 {
    max-width: 19%;
}

/* youtube */
article.main div.youtube_area {
    margin: 0.7ex 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
article.main span.youtube_cell {
    position: relative;
    margin: 0;
    padding: 0;
}
article.main span.youtube_caption {
    position: absolute;
    bottom: 8px;
    right: 4px;
    z-index: 1;
    min-width: 5ex;
    padding: 0.1ex 0.3ex;
    background: #fff;
    border-radius: 0.3ex;
    font-size: 80%;
    color: #000;
    opacity: 0.6;
}
article.main span.youtube_cell:hover span.youtube_caption {
    opacity: 0.2;
    z-index: -1;
}
article.main iframe.youtube1 {
    width: 90%;
}
article.main iframe.youtube2 {
    width: 48%;
}

/* indices */
article.main div.index_area {
    margin: 0.7ex 0;
}

/* share buttons */
div.share_button_area {
    margin: 0.8ex 0 0.3ex 0;
    width: 100%;
    text-align: right;
}
div.share_button_area span.share_button_container {
    display: inline-block;
}
div.share_button_area iframe {
    border: none;
}
div.share_button_area span.share_button {
    opacity: 0.5;
}
div.share_button_area span.share_button:hover {
    opacity: 1.0;
}

/* share buttons */
div.step_link_area {
    margin: 0.3ex 0 0.8ex 0;
    width: 100%;
    text-align: center;
}
div.step_link_area a.step_button {
    display: inline-block;
    width: 20ex;
    min-height: 4ex;
    margin: 0 0.2ex;
    padding: 0.5ex 0;
    text-align: center;
    line-height: 0.8;
    white-space: no-wrap;
    overflow: hidden;
    background: #def;
    border: 1px solid #adf;
    border-radius: 1ex;
    opacity: 0.5;
}
div.step_link_area a.step_button:hover {
    opacity: 1.0;
}
div.step_link_area a.step_button {
    color: #345;
    text-decoration: none;    
}

div.step_link_area span.step_title {
    font-size: 70%;
}

/* centering for large screens */
@media screen and (min-width:750px) {
  html {
      background: #eee;
  }
  body {
      display: inline-block;
      width: 700px;
      margin: 1ex 1ex;
      padding: 1ex 2ex;
      border: 1pt solid #ccc;
      border-radius: 1ex;
      text-align: left;
      background: #fff;
  }
  article.main img.img1 {
      max-height: 560px;
  }
  article.main img.img2 {
      max-height: 330px;
  }
  article.main img.img3 {
      max-height: 225px;
  }
  article.main img.img4 {
      max-height: 170px;
  }
  article.main img.img5 {
      max-height: 140px;
  }
  article.main video.video1 {
      max-height: 560px;
  }
  article.main video.video2 {
      max-height: 330px;
  }
  article.main video.video3 {
      max-height: 225px;
  }
  article.main video.video4 {
      max-height: 170px;
  }
  article.main video.video5 {
      max-height: 140px;
  }
  article.main iframe.youtube1 {
      width: 560px;
      height: 340px;
  }
  article.main iframe.youtube2 {
      width: 315px;
      height: 200px
  }
}
